.DS_Store
build/
install/
log/*
/CMakeFiles/
/CMakeCache.txt
/Makefile
/cmake_install.cmake
/compile_commands.json
.codex

**/*.log
*.bag
**/.DS_Store
**/__pycache__/**

__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
!log/.gitkeep

/.env
docker/.env
**/*.hef

/third_party/*.tar.gz
/third_party/CubeEye2.0-sdk/bin/
/third_party/CubeEye2.0-sdk/doc/
/third_party/CubeEye2.0-sdk/example/
/third_party/CubeEye2.0-sdk/test/
/third_party/CubeEye2.0-sdk/thirdparty/libcppunit/
/third_party/CubeEye2.0-sdk/thirdparty/libffmpeg/bin/
/third_party/CubeEye2.0-sdk/thirdparty/libffmpeg/include/
/third_party/CubeEye2.0-sdk/thirdparty/libffmpeg/lib/pkgconfig/
/third_party/CubeEye2.0-sdk/thirdparty/libffmpeg/share/
/third_party/CubeEye2.0-sdk/thirdparty/liblive555/include/
/third_party/CubeEye2.0-sdk/thirdparty/libusb/include/
/third_party/CubeEye2.0-sdk/thirdparty/libusb/lib/*.a
/third_party/CubeEye2.0-sdk/thirdparty/libusb/lib/*.la
/third_party/CubeEye2.0-sdk/thirdparty/libusb/lib/pkgconfig/
